* {
  margin: 0;
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 5em;
  background: black;
}

.title {
  color: white;
  font-size: 5rem;
  font-family: fantasy;
}

.container {
  width: calc(25vh + 15vw);
  height: calc(25vh + 15vw);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  background: rgb(26, 26, 26);
  border-radius: 5%;
  box-shadow: 0 0 100px 20px red;
}

.cell {
  color: white;
  font-size: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid white;
}

.winscreen {
  color: white;
  font-size: 5em;
}

.restart {
  position: absolute;
  place-self: center;
  z-index: 1;
  border-radius: 5%;
  width: calc((25vh + 15vw) * 1.4);
  height: calc((25vh + 15vw) / 4);
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-size: 3em;
  color: white;
}

.restart:hover {
    cursor: pointer;
}

.player {
  text-align: center;
  width: calc((25vh + 15vw) * 1.4);
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-size: 3em;
  color: white;
}