* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
    /* background: black;
    color: white; */
}

.searchbar {
    border-radius: 50px;
    height: 2em;
    width: 40em;
    text-align: center;
    box-shadow: 6px 5px 10px 0px rgb(164 164 164),
    6px 5px 10px 0px rgb(72, 72, 72);
    border: 0;
}

.searchbar:focus {
    border: 10px solid yellow;
}

section {
    display: grid;
    justify-items: center;
}