:root.light {
  --base: rgb(114, 114, 114);
  --base-light: rgb(182, 182, 182);
  --base-dark: rgb(94, 94, 94);
  --accent: rgb(114, 39, 255);
  --opposite: black;
}

:root.dark {
  --base: rgb(66, 66, 66);
  --base-light: rgb(88, 88, 88);
  --base-dark: rgb(44, 44, 44);
  --accent: rgb(255, 39, 39);
  --opposite: white;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--base);
  transition: background 1s ease-in-out;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 35%;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-template-rows: min-content;
  padding: 3em;
  row-gap: 3em;
  column-gap: 2em;
  grid-template-columns: 5fr 1fr;
  box-sizing: border-box;
}

.search {
  width: 100%;
  height: 100%;
}

.searchbar {
  color: var(--opposite);
  border-radius: 50px;
  height: 3em;
  width: 100%;
  height: 100%; 
  text-align: center;
  background-color: var(--base);
  box-shadow: -3px -3px 5px 0px var(--base-light),
    3px 3px 5px 0px var(--base-dark);
  border: 0;
  background: linear-gradient(180deg, var(--base-light), var(--base));
}

.searchbar:hover,
.searchbar:focus {
  outline: 0;
  background: linear-gradient(180deg, var(--base), var(--base-light));
}

section {
  display: grid;
  justify-items: center;
  color: var(--opposite);
  grid-column: 1/3;
  box-shadow: -3px -3px 5px 0px var(--base-light),
    3px 3px 5px 0px var(--base-dark),
    10px 10px 5px 0px var(--accent);
  border: 0;
  background: linear-gradient(180deg, var(--base-light), var(--base));
  width: 100%;
  border-radius: 10px;
  padding-bottom: 2em;
}

section > * {
  padding: 1em;
}

.container {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.icon > svg {
  width: 3em;
  height: 3em;
  color: var(--accent);
}

.dataContainer > .b{
  position: absolute;
    font-size: 2em;
    color: white;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    translate: 0 -1em;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    text-align: center;
    color: black;
    
}

.dataContainer:hover > .b{ 
  transition: all 0.5s ease-in-out;
  visibility: visible;
  opacity: 1;
  translate: 20vw -1em;
}

.searcherror {
  color: var(--accent);
}