
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


body {
    overflow : scroll;
}

.container {
    display : grid;
}

section.dashboard {
    background-color: #1992d4;
    grid-area: 1 / 1/ 3/ 2;
}

section.dashboard div.elements {
    display: grid;
    grid-template-rows: minmax( 1rem, 2rem);
    align-items: center;
    gap : 3rem;
    margin-left: 1rem;
    color: white;
}


section.dashboard div.elements div {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap : 0.7rem;
}

section.dashboard div.elements div.one {
    zoom : 1.3;
}

section.dashboard div.elements div *:hover {
    cursor: pointer;
}

section.dashboard div.elements div i {
    place-self : center;
}



section.header {
    grid-area:1 / 2 / 2 / 3;
    display : grid;
    gap : 1rem;
    margin: 1rem;
}

section.header div.rowone {
    display : grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 35fr 1fr 1fr 4fr;
    place-items: center;
}

section.header div.rowone span.searchbar{
    width:85%;
    height: 80%;
    background-color: #e2e8f0;
    border-radius: 100px;
    justify-self: start;
}

section.header div.rowone img.logo {
    width: 2rem;    
    height: 2rem;  
    border-radius: 100px;
}


section.header div.rowtwo {
    display : grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 4fr 40fr 5fr 5fr 5fr;
    gap : 1rem;
}

section.header div.rowtwo img.logo {
    width: 3rem;    
    height: 3rem;  
    border-radius: 100px;
}

section.header div.rowtwo button{
    background-color: #1992d4;
    color: white;
    border-radius: 100px;
    padding: 0.3rem;
    border-color: transparent;
}

section.body {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
}

section.body section.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: min-content;
    gap: 0.5rem;
}

section.body section.projects div.container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-auto-rows: min-content; */
    gap: 1rem;

}

section.body section.projects div.container div.card {
    border-left: 0.3rem solid orange;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px 5px 10px lightgray;
}

p {
    font-size: 13px;
}

section.body section.announcements .container .card {
    z-index: 1;
    margin: 1rem;
}

section.body section.announcements {
    gap: 0.5rem;
    display: grid;
    margin-left: 1rem;
}

section.body section.announcements .container {
    display:grid; 
    border-radius: 10px;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 1fr) 0 minmax(100px, 1fr) 0 minmax(100px, 1fr);
}

section.body section.announcements .container span {
    background-color: lightgrey;
    height: 1px;
    width: 90%;
    place-self: center;
    z-index: 2;
}

section.trending {
    gap: 0.5rem;
    margin-left: 1rem;
    margin-top: 3rem;
    
}

section.trending div.container {
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
}

section.trending div.container .card {
    padding: 0.5rem;
}

section.trending .container div.icons {
    display: grid;
}

section.trending .container div.titles {
    display: grid;
}

section.trending .container div.icons img.logo {
    width: 100%;    
    border-radius: 100px;
}

img.logo {
    place-self: center;
}