@font-face {
  font-family: "MyFont";
  src: url("./Pacifico-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  display: flex;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 5em;
  padding: 2em;
  background-color: black;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid white;
  z-index: 1;
}

.navbar > div.tab {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  justify-items: center;
  color: white;
  font-size: larger;
  font-weight: bold;
  transition: 1s;
}

.navbar > div.tab:hover {
  cursor: pointer;
  border-bottom: 2px solid grey;
}

.navbar > div.icon {
  background: url(./icon.png) no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.current {
  border-bottom: 3px solid white;
}

.container {
  display: flex;
  flex-direction: column;
}

#home > .content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(./background.gif);
  background-size: cover;
  color: white;
  height: 100%;
}

#home > .content > .title {
  font-size: 8em;
  font-family: "MyFont";
  margin: 0em 1em 1.5em 1em;
}

#menu {
  background: rgb(61, 28, 28);
  background-size: cover;
  height: 100%;
  color: white;
  overflow: hidden;
}

#menu > .content {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 3fr;
  gap: 3em;
  justify-items: center;
  height: fit-content;
  align-items: center;
  padding: 3em;
}

#menu > .content > .title {
  grid-column: 1/3;
  font-size: 3em;
  font-family: "MyFont";
}

#menu > .content > .menuItem {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px grey;
}
