* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: grid;
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 1fr 9fr;
  }
  
  #sidebar {
    display: grid;
    gap: 2em;
    grid-auto-flow: row;
    background-color: black;
    color: white;
    grid-row: 2 / 3;
    padding: 1em;
    grid-template-rows: 1fr 19fr;
    align-items: center;
  }
  
  #sidebar > div.title {
      padding-bottom: 0.5em;
      border-bottom: 0.1em solid white;
  }
  
  #sidebar > div.container {
      display: grid;
      align-content: center;
      gap: 2em;
      
  }
  
  #sidebar > div.container > * {
      height: 5em;
  }
  
  #sidebar > div.container > button {
      border: 1px solid white;
      border-radius: 50%;
      width: 5vh;
      height: 5vh;
      justify-self: center;
      color: white;
      font-size: 1em;
      text-align: center;
  }
  
  #sidebar > div.container > button:hover {
      cursor: pointer;
  }
  